.navCart{
    position: absolute;
    right: 2rem;
    bottom: 0;
    cursor: pointer;
}
.navCart span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    position: absolute;
    right:0rem;
    top: 0rem;
    background:red;
    line-height: 0;
    color:white;
  }
  .navCart:hover .widget{
     
    display: block; 
    
  }

  .widget{
    height: 30rem;
    width: 300%;  
    position: absolute;
    right: 0rem;
    top:4rem;
    background-color:hsl(172, 86%, 39%);
    border-color:black;
    display: none;
  }