.navCart{
    position: absolute;
    right: 2rem;
    bottom: 0;
    cursor: pointer;
}
.navCart span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    position: absolute;
    right:0rem;
    top: 0rem;
    background:red;
    line-height: 0;
    color:white;
  }